<h2>All Members</h2>
<select (change)="onChange($event.target.value)">
  <option value="AllMembers" selected="selected">All Members</option>
  <option value="Staff">Staff</option>
  <option value="Member">Other Members</option>
</select>
<div *ngFor="let member of members | async | category:filterByCategory" class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToProfilePage(member)">{{member.name}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      {{member.role}}
      {{member.description}}
      <hr>
      <app-edit-member [selectedMember]="member"></app-edit-member>
    </div>
  </div>
</div>
