<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink=""><span id="logo">AniLove&#x2661;</span></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about"><span id="about">About Us</span></a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
  <div class="container">
    <h1 id="statement">Join Us!</h1>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
  <div class="bottom-padding"></div>
</div>
<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin"><span class="admin">Admin</span></a>
  </div>
</footer>
