<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add a New Member</h3>
  </div>
  <br>
  <div class="panel-body member-list">
    <div>
      <div>
        <label>Name:</label>
        <input #newName>
      </div>
      <br>
      <div>
        <label>Title:</label>
        <input #newRole>
      </div>
      <br>
      <div>
        <label>Description:</label>
        <br>
        <textarea #newDescription></textarea>
      </div>
      <br>
      <button class="btn btn-lg btn-primary" (click)="submitForm(newName.value, newRole.value, newDescription.value); newName.value=''; newRole.value=''; newDescription.value=''">Add</button>
    </div>
    <br>
    <br>
    <hr>
    <!-- Displays All Members-->
    <div>
      <app-member></app-member>
    </div>
  </div>
</div>
